# Database Configuration
DB_NAME=mooclet_db
DB_USER=mooclet_db
DB_PASSWORD=mooclet_db
DB_HOST=mooclet-postgres-local
DB_PORT=5432

# Django Admin Superuser Configuration
DJANGO_SUPERUSER_USERNAME=mooclet_admin
DJANGO_SUPERUSER_PASSWORD=mooclet_admin
DJANGO_SUPERUSER_EMAIL=admin@mooclet.org

ACTIVE_DATABASE_CONFIG=docker_local