# Database Configuration
DB_NAME=moocletdb
DB_USER=mooclet
DB_PASSWORD=mooclet
DB_HOST=mooclet-postgres-local
DB_PORT=5432

# Django Admin Superuser Configuration
DJANGO_SUPERUSER_USERNAME=mooclet
DJANGO_SUPERUSER_PASSWORD=mooclet
DJANGO_SUPERUSER_EMAIL=admin@mooclet.org